body {
    background-color: white
}

#navigation > ol, #navigation > ol > li {
    font-size: 25;
    font-family: "Arial";
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

#navigation {
    background-color: rgb(67, 158, 248);
    padding: 7 7;
    border: 3px solid rgb(54, 57, 58);
    border-radius: 5px;
    box-sizing: border-box;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
}

#navlinks.active, #navlinks:hover{
    color: rgb(54, 57, 35);
}

#navlinks {
    color: #edf2f4;
}

#loginButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 3px solid rgb(54, 57, 58);
    border-radius: 5px;
    background-color: rgb(67, 158, 248);
    font-family: "Arial";
    padding: 5 5;
}

#username, #password, #email, #firstname, #lastname, #confirmPassword {
    font-size: 25px;
    margin-bottom: 5px;
}

#signUpButton {
    width: 80px;
    height: 35px;
    font-size: 20px;
}

#createAccountButton {
    width: 150px;
    height: 35px;
    font-size: 18px;
}

#fields {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

#logo {
    height: 200px;
    alt: "Stoli Aviation";
}

#smallLogo {
    height: 150px;
    alt: "Stoli Aviation";
}

#createAccount, #login {
    font-size: 15px;
    font-family: "Arial";
}

#firstnameCheckout, #lastnameCheckout, #city, #zip, #phoneCheckout, #state {
    font-size: 20px;
    margin-top: 15px;
    margin-right: 15px;
    font-family: "Arial";
}

#address, #address2, #emailCheckout{
    font-size: 20px;
    font-family: "Arial";
    width: 451px;
    margin-top: 15px;
}

::placeholder {
    color: black
}

#billingHeader {
    margin: 20px 0px;
    background-color: rgb(67, 158, 248);
    padding: 7 7;
    border: 3px solid rgb(54, 57, 58);
    border-radius: 5px;
    box-sizing: border-box;
    font-style: "Arial";
    font-size: 25px;
}