body {
    background-color: white
}

#navigation > ol, #navigation > ol > li {
    font-size: 25;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

#navigation {
    background-color: rgb(67, 158, 248);
    padding: 7 7;
    border: 3px solid rgb(54, 57, 58);
    border-radius: 5px;
    box-sizing: border-box;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
    text-decoration: none;
}

#navlinks.active, #navlinks:hover{
    color: rgb(54, 57, 35);
}

#navlinks {
    color: #edf2f4;
}

#loginButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 3px solid rgb(54, 57, 58);
    border-radius: 5px;
    background-color: rgb(67, 158, 248);
    font-family: 'Roboto', sans-serif;
    padding: 5 5;
}

#username, #password, #email, #firstname, #lastname, #confirmPassword {
    font-size: 22px;
    margin-bottom: 5px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
}

#signUpButton {
    width: 80px;
    height: 35px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#createAccountButton {
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#fields {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
}

#logo {
    height: 200px;
    alt: "Stoli Aviation";
}

#smallLogo {
    height: 150px;
    alt: "Stoli Aviation";
}

#createAccount, #login {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

::placeholder {
    color: rgb(100, 100, 100)
}

#aboutText {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#faqQ {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

#faqA {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#pricing, #contact {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

#homePics {
    max-width: 100%;
    height: auto;
    margin-top: 5px;
}

#homeDiv {
    margin: 5px 15%;
}

hr {
    height: 2px;
    background-color: red;
}

#errors {
    border: 2px solid rgb(174, 58, 65);
    color: rgb(174, 58, 65);
    background-color: rgb(243, 217, 221);
    font-size: 18px;
    margin-bottom: 5px;
    width: 300px;
    margin-left: 72px;
    padding: 5 5;
    font-family: 'Roboto', sans-serif;
}

#reviews {
    border: 2px solid red;
}

.loginLogout {
    padding: 0 10;
}

#signOutMessage {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}